//- Обратная связь в странице works

.feedback__title-block
  +svg-bg('about_header')(class="header-text--about_header_dark")
  .feedback__title.title-big Что обо мне говорят
.feedback.js__feedback
  .feedback__img
    img(src="./app/img/works__feedback__bg.jpg").feedback__img__img
  .comment
    .comment__item
      span.comment__icon
        i.fa.fa-quote-left
      .comment__desc
        p. 
          Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
      .comment__user
        .comment__photo
          img(src="app/img/comment__photo1.png")
        .comment__text
          span.comment__name Ковальчук Дмитрий
          span.comment__info Основатель LoftSchool
    .comment__item
      .comment__icon
        i.fa.fa-quote-left
      .comment__desc
        p. 
          Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
      .comment__user
        .comment__photo
          img(src="app/img/comment__photo2.png")
        .comment__text
          span.comment__name Сабанцев Владимир
          span.comment__info Преподователь LoftSchool
  .blur-form-wrapper
    .blur-form
  .feedback-form-block
    span.feedback-form__title.title-min Связаться со мной
    form(action="#").feedback-form.js__form
      input.feedback-form__name.js__input(
      type="text"
      placeholder="Имя"
      )
      input.feedback-form__email.js__form-email(
      type="email"
      placeholder="Email"
      )
      textarea.feedback-form__message.js__input(
      placeholder="Введите сообщение"
      )
      .feedback-form__bottom
        input.feedback-form__submit.js__form-btn(
        type="submit"
        value="Отправить"
        )
        input.feedback-form__reset.js__form-btn--reset(
        type="reset"
        value="Очистить"
        )
  .feedback__arrow-up.js__arrow-up
    i.fa.fa-chevron-up


