//- миксин для создание кругов

mixin circle (name, number)
  li.skills__item
    svg.circles(viewBox="0 0 110 110")
      circle.circle__first(
      r="40"
      cx="50%"
      cy="50%"
      fill="none"
      )
      circle.circle__second(
      class = "circle-" + number
      r="40"
      cx="50%"
      cy="50%"
      transform="rotate(-90 55 55)"
      )
      span.skills__name= name

mixin svg-bg (name)
  svg(role='img', title= name, class='header-text header-text--' + name)&attributes(attributes)
    use(xlink:href='app/img/sprite/sprite.svg#'+ name)


mixin layer (index)
  .parallax__layer
    img(src='app/img/index-parallax-layer0' + index + '.png',class="parallax__image0" + index).parallax__image
