//- страница index

extends ../_template

block variables
  - var title = 'Index page'

block content
  include ../common/_preloader
  include ../common/index/_index-parallax
  section.main.page-header.page-header--big
    button.btn-autho
      a(href="#").btn-autho__link Авторизоваться
    .flip
      figure.flip__front
        div.user-block.user-block__bg__white
          div.user-block__top
            div.user-block__photo
            span.user-block__name.user-block__name__color__grey Андрей Лейкин
            span.user-block__desc.user-block__desc__color__grey Личный сайт веб разработчика
            div.user-block__social
              span
                a(href="https://vk.com/id32952099" target="_blank")
                  i.fa.fa-vk
                  | Вк
              span
                a(href="https://github.com/andrewleykin" target="_blank")
                  i.fa.fa-github-alt
                  | Гитхаб
              span
                a(href="https://www.instagram.com/andrewleykin" target="_blank")
                  i.fa.fa-instagram
                  | Inst
          div.user-block__bottom
            nav.user-block__nav
              ul.user-block__list
                li.user-block__item
                  a.user-block__link(href="works.html") Мои   работы
                li.user-block__item
                  a.user-block__link.user-block__link__border(href="about.html") Обо   мне
                li.user-block__item
                  a.user-block__link(href="blog.html") Блог
      figure.flip__back
        .login
          .login__top
            span.login__title.title-min Авторизуйтесь
            form.login__form(action="#")
              input.login__login(
                placeholder="Логин"
                type="text"
                name="login"
              )
              label.login__login-label(for="login")
                i.fa.fa-user
              input.login__pass(
                placeholder="Пароль"
                type="password"
                name="pass"
              )
              label.login__pass-label(for="pass")
                i.fa.fa-key
              .login__check-block
                input.login__check(
                type="checkbox"
                id="checkbox"
                )
                label.login__check-label(for="checkbox") 
                  i.fa.fa-check
                  | Я человек
              span.login__q Вы точно не робот?
              .login__radio-block
                input.login__radio(
                type="radio"
                name="radio"
                id="radio1"
                )
                label.login__radio-label(for="radio1") Да
                input.login__radio(
                type="radio"
                name="radio"
                id="radio2"
                )
                label.login__radio-label(for="radio2") Не уверен 
              input.login__btn(
              type="submit"
              name="submit"
              value="Войти"
              )
              a(href="#").login__link На главную
    span.index-desc 
      span.index-desc__wide © Лейкин Андрей 
        span.index-desc__hide| 
      | создано с любовью в LoftSchool | 2017

