//- страница login

extends ../_template

block variables
  - var title = 'Login'
  - var page_class = 'login'

block content
  section.welcome__bg
    .login
      .login__top
        span.login__title.title-min Авторизуйтесь
        form.login__form(action="#")
          label.login__login-label(for="login")
            i.fa.fa-user
          input.login__login(
            placeholder="Логин"
            type="text"
            name="login"
          )
          label.login__pass-label(for="pass")
            i.fa.fa-key
          input.login__pass(
            placeholder="Пароль"
            type="password"
            name="pass"
          )
          .login__check-block
            input.login__check(
            type="checkbox"
            id="checkbox"
            )
            label.login__check-label(for="checkbox") 
              i.fa.fa-check
              | Я человек
          span.login__q Вы точно не робот?
          .login__radio-block
            input.login__radio(
            type="radio"
            name="radio"
            id="radio1"
            )
            label.login__radio-label(for="radio1") Да
            input.login__radio(
            type="radio"
            name="radio"
            id="radio2"
            )
            label.login__radio-label(for="radio2") Не уверен 
          input.login__btn(
          type="submit"
          name="submit"
          value="Войти"
          )
          a(href="index.html").login__link На главную